/* CSS Style for William Carroll */

/* Basic Elements */
:root {
    --page-color: #39425f;
    --box-color: #48506a;
    --text-color: #2e3342;
    --box-shadow: #2b2d35;
    --hover-color: #454a5d;

}

h1 {
    font-family: 'Lobster';
    text-transform: uppercase;
    font-size: 25pt;
    letter-spacing: 8px;
    text-shadow: #67696e 2px 5px;
}

p, li, ol, ul {
    font-family: 'Ubuntu';
    text-shadow: #67696e 2px 5px;
    color: white;
    font-weight: 1;
    line-height: 1;
}

p::first-letter {
    font-size: 150%;
}

/* Background Image */
body {
    background-image: url(../img/Winter_Background1.jpg);
    background-size: cover;
    padding: 1px;
}

/* Positioning for Navigation Bar */
div.navbar {
    position: fixed;
    background-color: var(--box-color);
    height: 10%;
    width: 100%;
}

div.navbar h1 {
    background-color: var(--text-color);
}

/* Positioning for Intro Box */
div.introduction {
    position: fixed;
    background-color: var(--box-color);
    width: 60%;
    top: 20%;
    left: 39.5vw;
    height: 55%;
    border-radius: 35px;
}

/* Positioning for Assignments */
div.assignment {
    position: absolute;
    background-color: var(--box-color);
    left: 2vw;
    width: 30%;
    top: 20%;
}

div.assignment h1 {
    background-color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Positioning for Contact Me */
div.address {
    position: absolute;
    background-color: var(--box-color);
    width: 30%;
    top: 60%;
    left: 2vw;
    z-index: 1;
}

/* Positioning for Portfolio */
div.portfolio {
    position: absolute;
    background-color: var(--box-color);
    bottom: 5%;
    left: 3vw;
    width: 40%;
    z-index: 2;
}

div.portfolio h1 {
    background-color: var(--text-color);
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -5%;
}

/* Positioning for Schedule */
div.schedule {
    position: absolute;
    background-color: var(--box-color);
    bottom: 0;
    left: 57vw;
    width: 40%;
}

div.schedule h1 {
    background-color: var(--text-color);
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -5%;
}

/* Navigation Bar */

div.navbar h1 {
    top: 0;
    left: 0;
    margin: 0;
    padding-left: 0.3%;
    padding-bottom: 0.5%;
    width: 16%;
    border-bottom-right-radius: 20px;
    outline: solid;
}

div.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 2%;
    padding-right: 2%;
    overflow: hidden;
    background-color: var(--box-color);
    border-bottom-left-radius: 35pt;
    border-bottom-right-radius: 35pt;
}

div.navbar li {
    float: left;
    padding-left: 3%;
    padding-right: 3%;
    font-size: 20pt;
}

div.navbar li a {
    background-color: var(--text-color);
    display: block;
    color: white;
    text-align: center;
    width: 300px;
    padding: 20px;
    text-decoration: none;
    border-radius: 20pt;
    box-shadow: 12px 12px 2px 1px var(--box-shadow);
}

div.navbar li a:hover {
    background-color: var(--hover-color);
}


/* Introduction Section */

/* For Intro H1 Elements */
.introduction h1 {
    background-color: var(--text-color);
    padding: .5%;
    letter-spacing: 5px;
    top: auto;
    text-align: center;
    outline-style: solid;
    outline-color: white;
    border-radius: 20px;
}

/* For Intro Paragraph */
.introduction p {
    position: relative;
    background-color: var(--text-color);
    padding: 30px;
    text-align: center;
    font-size: 25pt;
    float: left;
    height: auto;
    left: 3vw;
    top: .4vh;
    bottom: 5vh;
    width: 50%;
    border-radius: 20px;
    box-shadow: 12px 12px 2px 1px var(--box-shadow);
}

/* For Intro Image */
.introduction img {
    position: relative;
    background-color: #2e3342;
    margin-bottom: 3vh;
    float: right;
    height: auto;
    right: 4vw;
    width: 25%;
    border-radius: 15%;
    box-shadow: 12px 12px 2px 1px var(--box-shadow);
}

/* Assignments */

div.assignment {
    border-radius: 35px;
    height: 34vh;
}

div.assignment h1 {
    padding: 0.8%;
    outline: solid;
    border-radius: 20px;
    background-color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

div.assignment a:link, a:visited {
    background-color: var(--text-color);
    color: white;
    padding: 14px 25px;
    right: 2vw;
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3vh;
    width: 60%;
    margin-bottom: 5%;
    margin-right: 5%;
    border-radius: 20px;
    box-shadow: 12px 12px 2px 1px var(--box-shadow);
}

div.assignment li {
    right: 1vw;
    margin-left: 20%;
}

div.assignment ol {
    font-size: 25pt;
    left: 1vw;
    padding-right: 2%;
}

div.assignment a:hover {
    background-color: var(--hover-color);
}


/* Contact Me */

div.address {
    text-align: center;
    border-radius: 35px;
}

div.address h1 {
    padding: 0.8%;
    background-color: var(--text-color);
    outline: solid;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

div.address p {
    font-size: 25pt;
}

div.address a:link, a:visited {
    background-color: var(--text-color);
    color: white;
    padding: 14px 25px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 12px 12px 2px 1px var(--box-shadow);
}

div.address a:hover {
    background-color: var(--hover-color);
}

/* Portfolio */

div.portfolio {
    position: fixed;
    margin-bottom: -20%;
    top: 92.5vh;
    transition: top 1.5s ease-in-out;
}

div.portfolio:hover {
    top: 42vh;
}

div.portfolio p{
    position: relative;
    font-size: 22pt;
    background-color: var(--text-color);
    text-align: center;
    display: flex;
    padding: 3%;
    align-items: center;
    justify-content: center;
    right: 3%;
    border-radius: 20px;
    box-shadow: 12px 12px 2px 1px var(--box-shadow);
    margin: 30px;
    
}

div.portfolio ul {
    font-size: 20pt;
}

div.portfolio h1 {
    border-top-right-radius: 35px;
    border-top-left-radius: 35px;
    outline: solid;
    
}

@keyframes moveOverContent {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(100%);
    }
}

/* Schedule */

div.schedule {
    position: fixed;
    margin-bottom: -22.7%;
    top: 92.5vh;
    transition: top 1.5s ease-in-out;
}

div.schedule:hover {
    top: 42vh;
}

div.schedule h1 {
    border-top-right-radius: 35px;
    border-top-left-radius: 35px;
    outline: solid;
}

div.schedule td {
    font-size: 15pt;
}

#classes {
    padding: 2%;
}

table {
    background-color: var(--box-color);
    border: 2px solid;
    padding: .5%;
    vertical-align: 1vh;
    empty-cells: show;
}

/* Footer */

div.footer {
    position: fixed;
    background-color: var(--box-color);
    text-align: center;
    font-size: 15pt;
    bottom: 0;
    left: 0;
    height: 5rem;
    width: 100%;
    z-index: 3;
}